.NavBar{
  height: 70px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 7vw;
}
.NavBar .links{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 25px;
}
.NavBar .links a{
  color: #000000;
  font-size: 1rem;
  font-weight: 600;
  text-decoration: none;
}
.NavBar .links a.active{
  color: var(--main-color);
}